{% extends 'base.html.twig' %}

{% block title %}Hello StaticController!{% endblock %}

{% block body %}

{% for value in items %}
<div>

<p> Subject: {{value.fkService.subject}}  </p>
<p> Price: Euro {{value.fkService.amount}}  </p>
</div>
</div>
<a href="/delete/{{value.id}}">delete</a>
<div>
{% endfor %}
<a href="/checkout">Checkout</a>
<br/>
<a href="/logout">Logout</a>
<br/>
<a href="/static">>>Back</a>
{% endblock %}
