{% extends 'base.html.twig' %}

{% block title %}Hello StaticController!{% endblock %}

{% block body %}

{% for value in items %}
<div>

<p> {{value.fkService.subject}}  </p>
<p> {{value.fkService.amount}}  </p>
</div>
</div>
<a href="/delete/{{value.id}}">delete</a>
<div>
{% endfor %}
<a href="/logout">Logout</a>
{% endblock %}
