{% extends 'base.html.twig' %}

{% block title %}Hello StaticController!{% endblock %}

{% block body %}
<h1>Thank you for booking our Tutoring services, one of our trainer will reach out to you!</h1>

<a href="/logout">Logout</a>
<br/>
<a href="/static">>>Back</a>
{% endblock %}
