{% extends 'base.html.twig' %}

{% block title %}Hello StaticController!{% endblock %}

{% block body %}
<div class="container-fluid d-flex flex-column justify-content-center align-items-center" style="min-height: 100vh; min-width:100vw; background: #2385C4">
    <h1 class="text-center display-3 text-white">Thank you for booking our Tutoring services!<br> One of our trainer will reach out to you!</h1>
    <div class="btn btn-dark w-25 py-2 fs-3 my-2"><a href="/logout" class="text-decoration-none text-white">Logout</a></div>
    <div class="btn btn-dark w-25 py-2 fs-3"><a href="/static" class="text-decoration-none text-white">Back</a></div>
</div>
{% endblock %}
