{% extends 'base.html.twig' %}

{% block title %}Hello StaticController!{% endblock %}

{% block body %}
{% for value in service %}
<div>
Subject: {{value.subject}}
/ Pice: {{value.amount}}
/ Start: {{value.startDate | date("d M.Y H:m")}}
/ End: {{value.endDate | date("d M.Y H:m")}}
</div>
{% endfor %}
{% endblock %}
