:root {
    --main-bg-color: #2385c4;
    --second-bg-color: #212121;
}

@font-face {
    font-family: "Poppins Bold";
    src: url("../fonts/Poppins-Bold.ttf");
}

@font-face {
    font-family: "Poppins Thin";
    src: url("../fonts/Poppins-Thin.ttf");
}
*{
    font-family: "Poppins Bold";
}
/* Resets */
#sec-about, #sec-features {
    background-color: #2385c4;
    color: white;
}
hr {
    margin-left: 0;
    max-width: 40px;
}
/* Jumbotron (hero) */
.jumbotron {
    position: relative;
    background: url(https://i.postimg.cc/sfB31Q1B/hero.png);
    height: 65rem;
}
.jumbotron .container {
    padding: 100px 0;
}
.jumbotron h1, .jumbotron .lead {
    color: #fff;
}
img {
    max-height: 250px;
}

/* Features */
.sec-features .row:nth-of-type(n+2) {
    margin-top: 160px;
}
.sec-features .row:last-of-type {
    margin-bottom: 160px;
}
.sec-features .feature-icon {
    max-width: 150px;
}
/* Testimonials */
.sec-testimonials {
    padding-top: 128px;
    padding-bottom: 128px;
}
