{% extends 'base.html.twig' %} {% block title %}Hello WelcomeController!{% endblock %} {% block body %}
<h1>Welcome to our page</h1>
<a href="/register">Register /</a>
<a href="/login">Login /</a>
<p> If you are already registered with us, check out our services <a href="/static">here</a></p>
<hr>
{% endblock %}