{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}

{% block body %}

<a href="/register">Register /</a>
<a href="/login">login /</a>
<h1>Welcome to our page</h1>
<p>If you are already registered with us, check out our services <a href="/static">here</a></p>
{% endblock %}
