{% extends 'base.html.twig' %}

{% block title %}Hello WelcomeController!{% endblock %}

{% block body %}
<a href="/welcome">Home /</a>
<a href="/register">Register /</a>
<a href="/login">login /</a>
<h1>Welcome to our page</h1>
{% endblock %}
